includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - public/
        - resources/
        - routes/
        - tests/
    level: 8
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue

services:
    -
        class: App\PhpStan\EventListenerMethodExistsRule
        tags:
            - phpstan.rules.rule
