includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - public/
        - resources/
        - routes/
        - tests/
    level: 8
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
